*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 35px;
}

.grid-container{
  height: 100vh;
  border: 10px solid #D21312;
  display: grid;
  
}

.grid-item{
  background-color: #ccc;
  border: 4px solid #FF6C22;
  padding: 20px;
}

.item-1{

}

.item-2{

}

.item-3{

}

.item-4{

}

.item-5{

}
